///*----------------------------------*\
//  #COLORS
//\*----------------------------------*/

// Set up a colour palette which allows us to theme the entire project from one
// location.

// Colour palette.
$copy-icon-hover-bg: #d9e2ff !default;

//button-states
$button-on-hover-bg: #083dce;
$button-on-loader-bg: #5c88ff;
