/*------------------------------------*\
  #LINKS
\*------------------------------------*/

/**
 * Default styles for simple hyperlinks.
 */

a {
  color: $color-links;
  @include font-weight(bold);
  text-decoration: none;

  @include focus() {
    text-decoration: underline;
  }
}
